<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
</head>
<body>
    <center>
        <h1>Webpage Insertion</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="topic">topic_name</label>
            <select name="topic" id="topic">
                {% for to in topics %}
                <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="nm">Name</label>
            <input type="text" name="nm" id="nm">
            <br><br>
            <label for="ur">Url</label>
            <input type="url" name="ur" id="ur">
            <br><br>
            <label for="em">Email</label>
            <input type="email" name="em" id="em">
            <br><br>
            <input type="submit" value="insert_webpage">
        </form>
    </center>
</body>
</html>